@import url("../../styles/base.css");

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--color-light-xl);
}

.header__container {
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  color: var(--color-dark-l);
}

.logo__title {
  margin: 0 0 10px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
}

.logo__subtitle {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: .1em;
  color: var(--color-dark-3xl);
}

.nav__list {
  display: flex;
  justify-content: center;
  column-gap: 35px;
}

.nav__link {
  padding-bottom: 3px;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-l);
}

.nav__link:hover {
  color: var(--color-dark-3xl);
}

.nav__link_active {
  border-bottom: 3px solid var(--color-primary);
  color: var(--color-dark-3xl);
  cursor: default;
}

.pets {
  background: var(--color-light-l);
}

.pets__container {
  padding: 200px 0 100px;
  flex-direction: column;
  align-items: center;
  row-gap: 45px;
}

.pets__subheading {
  text-align: center;
}

.pets__cards {
  margin: 15px 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 40px;
}

.pets__item {
  border-radius: 9px;
  background: var(--color-light-s);
  text-align: center;
}

.pets__item:hover {
  background: var(--color-light-xl);
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.pets__name {
  margin: 25px 0 30px;
}

.pets__button {
  margin-bottom: 30px;
  padding: 13px 45px;
  border: 2px solid var(--color-primary);
  background: transparent;
}

.pets__item:hover .pets__button {
  border: 2px solid var(--color-primary-light);
  background: var(--color-primary-light);
  cursor: pointer;
}

.pets__navigation {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.pets__paginator {
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-dark-s);
  border-radius: 50%;
  background: transparent;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: var(--letter-spacing);
  color: var(--color-dark-s);
}

.pets__paginator_number {
  border: 2px solid var(--color-primary);
  background: var(--color-primary);
  color: var(--color-dark-3xl);
}

.pets__paginator_active {
  border: 2px solid var(--color-primary);
  color: var(--color-dark-3xl);
  cursor: pointer;
}

.pets__paginator_active:hover {
  border: 2px solid var(--color-primary-light);
  background: var(--color-primary-light);
}

.footer {
  background: url("../../assets/images/start-screen-bg.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__container {
  padding-top: 40px;
  justify-content: center;
  column-gap: 160px;
}

.footer__content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.footer__content:first-of-type {
  max-width: 280px;
  row-gap: 40px;
}

.footer__content:nth-of-type(2) {
  max-width: 302px;
  row-gap: 32px;
}

.footer__subheading {
  color: var(--color-light-xl);
}

.footer__item {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.footer__icon {
  width: 40px;
  height: 32px;
}

.footer__icon_email {
  background: url("../../assets/icons/email.svg");
}

.footer__icon_phone {
  background: url("../../assets/icons/phone.svg");
}

.footer__icon_location {
  width: 22px;
  height: 32px;
  background: url("../../assets/icons/marker.svg");
}

.footer__link {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: var(--letter-spacing);
  color: var(--color-primary);
}