@import url("../../styles/normalize.css");

@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/arial.woff2") format("woff2"),
  url("../../assets/fonts/arial.woff") format("woff");
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/georgia.woff2") format("woff2"),
  url("../../assets/fonts/georgia.woff") format("woff");
}

* {
  margin: 0;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  text-decoration: none;
  color: #545454;
}

.logo__title {
  margin: 0 0 10px;
  font-family: 'Georgia', serif;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: .06em;
  text-transform: capitalize;
}

.logo__subtitle {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: .1em;
  color: #292929;
}

.header__nav {
  flex: 0 1 40.3%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav__link {
  padding-bottom: 3px;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  text-decoration: none;
}

.nav__link:hover {
  color: #292929;
}

.nav__link_active {
  border-bottom: 3px solid #f1cdb3;
  color: #292929;
  cursor: default;
}

.pets {
  background: #f6f6f6;
}

.pets__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 200px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 45px;
}

.pets__subheading {
  text-align: center;
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets__cards {
  margin: 15px 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 40px;
}

.pets__item {
  border-radius: 9px;
  background: #fafafa;
  text-align: center;
  transition: .5s;
}

.pets__item:hover {
  background: #fff;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.pets__name {
  margin: 25px 0 30px;
  font-family: 'Georgia', serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets__button {
  margin-bottom: 30px;
  padding: 13px 45px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background: transparent;
  outline: none;
  font-family: 'Georgia', serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  transition: .5s;
}

.pets__item:hover .pets__button {
  border: 2px solid #fddcc4;
  background: #fddcc4;
}

.pets__navigation {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.pets__paginator {
  width: 52px;
  height: 52px;
  border: 2px solid #cdcdcd;
  border-radius: 50%;
  background: transparent;
  font-family: 'Georgia', serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #cdcdcd;
}

.pets__paginator_number {
  border: 2px solid #f1cdb3;
  background: #f1cdb3;
  color: #292929;
}

.pets__paginator_active {
  border: 2px solid #f1cdb3;
  color: #292929;
  cursor: pointer;
  transition: .5s;
}

.pets__paginator_active:hover {
  border: 2px solid #fddcc4;
  background: #fddcc4;
}

.footer {
  background: url("../../assets/images/start-screen-bg.jpg") no-repeat top left;
  background-size: cover;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  column-gap: 160px;
}

.footer__content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.footer__content:first-of-type {
  max-width: 280px;
  row-gap: 40px;
}

.footer__content:nth-of-type(2) {
  max-width: 302px;
  row-gap: 32px;
}

.footer__subheading {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #fff;
}

.footer__item {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.footer__icon {
  width: 40px;
  height: 32px;
}

.footer__icon_email {
  background: url("../../assets/icons/email.svg");
}

.footer__icon_phone {
  background: url("../../assets/icons/phone.svg");
}

.footer__icon_location {
  width: 22px;
  height: 32px;
  background: url("../../assets/icons/marker.svg");
}

.footer__link {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}

.footer__image-item {
  max-width: 100%;
  height: auto;
  display: block;
}