@import url("../../styles/normalize.css");

* {
  margin: 0;
}

.header {
  background: url("../../assets/images/start-screen-bg.jpg") no-repeat top left;
  background-size: cover;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  text-decoration: none;
  color: #f1cdb3;
}

.logo__title {
  margin: 0 0 10px;
  font-family: 'Georgia', serif;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: .06em;
  text-transform: capitalize;
}

.logo__subtitle {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: .1em;
  color: #fff;
}

.header__nav {
  flex: 0 1 40.3%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav__link {
  padding-bottom: 3px;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
}

.nav__link:hover {
  color: #fafafa;
}

.nav__link_active {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
  cursor: default;
}

.start-screen {
  background: url("../../assets/images/start-screen-bg.jpg") no-repeat top right;
  background-size: cover;
}

.start-screen__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.start-screen__content {
  max-width: 460px;
  margin-top: 163px;
}

.start-screen__subtitle {
  max-width: 310px;
  margin-bottom: 42px;
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #fff;
}

.start-screen__text {
  margin-bottom: 56px;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}

.start-screen__link {
  padding: 15px 45px;
  border-radius: 100px;
  background: #f1cdb3;
  font-family: 'Georgia', serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: .06em;
  text-decoration: none;
  color: #292929;
}

.start-screen__link:hover {
  background: #fddcc4;
}

.start-screen__image-item {
  max-width: 100%;
  height: auto;
  display: block;
}

.about {
  background: #fff;
}

.about__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.about__image-item {
  max-width: 100%;
  height: auto;
  display: block;
}

.about__content {
  max-width: 430px;
}

.about__subheading {
  max-width: 370px;
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: .06em;
  color: #545454;
}

.about__text {
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

.about__subheading + .about__text {
  margin: 25px 0;
}

.help {
  background: #fff;
}

.help__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__subheading {
  max-width: 310px;
  margin-bottom: 60px;
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: .06em;
  text-align: center;
  color: #545454;
}

.help__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 120px;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.help__icon {
  width: 60px;
  height: 60px;
}

.help__item:nth-child(1) .help__icon {
  background: url("../../assets/icons/pet-food.svg");
}

.help__item:nth-child(2) .help__icon {
  background: url("../../assets/icons/transportation.svg");
}

.help__item:nth-child(3) .help__icon {
  background: url("../../assets/icons/toys.svg");
}

.help__item:nth-child(4) .help__icon {
  background: url("../../assets/icons/bowls-and-cups.svg");
}

.help__item:nth-child(5) .help__icon {
  background: url("../../assets/icons/shampoos.svg");
}

.help__item:nth-child(6) .help__icon {
  background: url("../../assets/icons/vitamins.svg");
}

.help__item:nth-child(7) .help__icon {
  background: url("../../assets/icons/medicines.svg");
}

.help__item:nth-child(8) .help__icon {
  background: url("../../assets/icons/collars-leashes.svg");
}

.help__item:nth-child(9) .help__icon {
  background: url("../../assets/icons/sleeping-area.svg");
}

.help__text {
  font-family: 'Georgia', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  letter-spacing: .06em;
}